.imageAdd{
    height:50px;
    filter: hue-rotate(120deg);
}

.add{
    padding:30px 600px 30px;
}

.newExperienceForm{
    border:1px solid black;
   height:700px;
    width:500px;

}

.experience-form{

}

label{
    padding:20px;
    font-size: 20px;
}