.experiences {
    min-height: 100vh;
}
.parrafo {
    align-content: center;
    font-size: 25px;
    padding: 200px 300px 200px;
}

.experiences-body{
    padding:100px;
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 30px 5px;
}

