.experiences {
    min-height: 100vh;
}
.parrafo {
    align-content: center;
    font-size: 25px;
    padding: 200px 300px 200px;
}

.experiences-body{
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;

    padding: 0.5rem;
}

