.footer-section{
    background-color: #3C342F;
    margin-top:50px;
    height: 320px;
    padding: 30px;
    text-align: center;

    column-gap: 30px;

}

.info-footer{
    color: white;
    font-size:30px;
}

.info-footer1{
    color: white;
    font-size:20px;
}

.social-logo{
    max-width: 250px;
}