.imageAdd{
    height:50px;
    filter: hue-rotate(120deg);
}

.add{
    padding:30px 600px 30px;
}

.newExperienceForm{
    border: 0px solid aqua;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
   height:800px;
    width:600px;

}

.experience-form{

}

label{
    padding:20px;
    font-size: 20px;
}