.mision-img{
    padding:300px 50px 0;
    display:flex;
    justify-content: space-around;
    top:300px;
}
.info-parrafo{
    font-size: 15px;
    padding:0 300px 0;
    text-align: center;
}

.img-quienes-somos{
    max-height: 250px;
}