.mision-img{
    padding:300px 50px 0;
    display:flex;

    top:300px;
}
.info-parrafo{
    font-size: 25px;
    text-align: justify;
    margin-left: 150px;
}

.img-container{
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 50px;
}
.img-quienes-somos{
    max-height: 350px;
}